// Variables
$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

// Font Settings
// $font-alpha: 'Merriweather Sans', sans-serif;
$font-alpha: 'Asap', sans-serif;
$font-beta: 'Gudea', sans-serif;

$body-font: $font-beta;
$heading-font: $font-beta;

// Colors
$color-alpha: #333333; // dark grey
$color-beta: #CCCCCC; // light grey
$color-gamma: #FFFFFF; // white
$color-delta: #2e3641; // greyish blue
$color-epsilon: darken(#bfd841, 8%); // lime-ish green
$color-zeta: #E74C3C; // red

// Heading Colors
$hc-alpha: #01A2A6;

// Breakpoints
$bp-xsmall: 320px;
$bp-small: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

//https://kuler.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true&base=1&rule=Custom&selected=0&name=Copy%20of%20Flat%20UI&mode=rgb&rgbvalues=0.17254901960784313,0.24313725490196078,0.3137254901960784,0.9058823529411765,0.2980392156862745,0.23529411764705882,0.9254901960784314,0.9411764705882353,0.9450980392156862,0.20392156862745098,0.596078431372549,0.8588235294117647,0.1607843137254902,0.5019607843137255,0.7254901960784313&swatchOrder=0,1,2,3,4
//https://kuler.adobe.com/clean-modern-color-theme-1183442/edit/?copy=true
//https://kuler.adobe.com/organic-pull-2-color-theme-439373/edit/?copy=true&base=4&rule=Custom&selected=4&name=Copy%20of%20organic%20pull%202&mode=rgb&rgbvalues=0.4666666666666667,0.3764705882352941,0.27058823529411763,0.6588235294117647,0.7725490196078432,0.27058823529411763,0.8745098039215686,0.8274509803921568,0.7137254901960784,1,1,1,0,0.5725490196078431,0.6980392156862745&swatchOrder=0,1,2,3,4
@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3";

/*= Base
------------------------------------------------------- */

body {
    font-size: (16em/10);
    font-family: $body-font;
    font-weight: 300;
    line-height: 1.5;
    color: lighten(#2C3E50, 10%);
    text-rendering: optimizeLegibility;

    @media( min-width: $bp-small )
    {
    font-size: (18em/10);
    }
}

h1, h2, h3, h4, h5, h6 
{
    font-family: $heading-font;
    color: #2C3E50;
}

h1, h2, h3
{
    font-weight: 800;
}

a
{
    color: $color-zeta;
}

/*= Globals
------------------------------------------------------- */

.tagline,  {

    font-size: (25em/10);
    font-weight: 800;
    color: #fff;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 0 1px 0px rgba(0,0,0,0.55);
    
    @media( max-width: $bp-xsmall )
    {
        font-size: (15em/10);
    }

    @media( min-width: $bp-small )
    {
        letter-spacing: -3px;
        font-size: (40em/10);
    }

    @media( min-width: $bp-lg )
    {
         font-size: (50em/10);
         margin-bottom: .5em;
    }

}

.internal-intro
{
    @media( max-width: $bp-xsmall )
    {
        font-size: (15em/10);
    }

    @media( min-width: $bp-small )
    {
        letter-spacing: -1px;
        font-size: (20em/10);
    }

    @media( min-width: $bp-lg ) {
         font-size: (30em/10);
         margin-bottom: .5em;
    }
}

.centered {
    text-align: center;
}

/*= Layout
------------------------------------------------------- */

#banner 
{
    padding: (50rem/10) 0;
    position: absolute;
    top: 0;
    width: 100%;

     #logo img
    {
        width: 200px;
        transition: width .2s linear;
    }

    @media( min-width: $bp-md )
    {
        #logo img
        {
            width: 250px;
        }

        &.is-sticky
        {
            position: fixed;
            top: 0;
            width: 100%;
            background: rgba(#2C3E50, .8);
            z-index: 1040;
            padding: 1rem 0!important;

            #logo img
            {
                width: 175px;
            }

            .site-nav
            {
                margin-top: 1em!important;
            }
        }
    }
    

}

.l-internal #banner
{
    position: static;
    background: #2C3E50;
    padding: 1rem 0;
    transition: all .5s linear;

    @media( min-width: $bp-md )
    {
        &.is-sticky
        {
            position: fixed;
            top: 0;
            width: 100%;
            background: rgba(#2C3E50, .8);
            z-index: 1040;

            #logo img
            {
                width: 175px;
            }

            .site-nav
            {
                margin-top: 1em;
            }
        }
    }
}





main img {
    width: 100%;
}

// Site Navigation
// ----------------------------------------------------
.site-nav 
{ 
    margin-top: 1em;

    ul 
    {
        @include clearfix();
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li 
    {
        float: left;
    }

    a 
    {
        font-size: (14rem/10);
        color: $color-gamma;
        font-weight: 700;
        margin: 1.5rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include transition(all .2s linear);

        &:hover, &.current-page
        {
            color: darken(#fff, 20%);
            text-decoration: none;
            border-bottom: 5px solid $color-epsilon;
        }
    }
    .mobile_nav_trigger
    {   
        text-align: right;
        i
        {
            display: inline-block;
            text-align: center;
            padding: .5em;
            background: #2C3E50;
            border: 2px solid lighten(#2C3E50, 10%);
            float: right;
            color: #fff;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    @media( min-width: 1200px )
    {
        a 
        {
            font-size: (16rem/10);
            margin: 2rem;
        }
    }
    @media( max-width: 768px )
     {


        .mobile_nav_trigger
        {
        margin: 1em 0;
        }

        i {
           // width: 100%;

        }
     }
    @media( min-width: $bp-md )
    {
        margin-top: 2em;
    }
}



// Footer
// ----------------------------------------------------
footer 
{
    padding: 4em 0;
    background: #2C3E50;
    color: #fff;
    font-size: (16rem/10);

    h4
    {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 1em;
        border-bottom: 5px solid lighten(#2C3E50, 10%)
    }
    a
    {
        color: #adc729;
        @include transition( all .2s linear );

        &:hover
        {
            color: darken(#adc729, 10%);
            text-decoration: none;
        }
    }

    ul
    {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    

    .recent-post li
    {
        padding: .5em 0;
        border-top: 1px solid lighten(#2C3E50, 10%)

    }

    .row div {
        padding-bottom: 2em;
    }
}

.social
{
    li {
        padding: .25em;
        display: inline-block;
    }
    i 
    {
        font-size: (20rem/10);
        padding-right: 1em;
    }
}

// HERO
// ----------------------------------------------------

// HOME
.homepage .hero 
{

    height: 750px;
    background: url(../images/bg7.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;

    .container
    {
        padding-top: 16em;

        @media( min-width: 768px)
        {
            padding-top: 12em;
        }
    }

    .cta 
    {
        padding: .75em 2em;
        margin: .5em;
        display: block;
        background: $color-beta;
        color: #FFF;
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: 0 1px 0px rgba(0,0,0,0.15);
        letter-spacing: 1.5px;
        box-shadow: 0 3px 0 darken($color-beta, 10%);

        @include border-radius(3px);
        @include transition(all .2s linear);

        &.cta-primary
        {
            background: $color-epsilon;
             box-shadow: 0 3px 0 darken($color-epsilon, 10%);
            &:hover
            {
                background: darken($color-epsilon, 10%);
            }
        }

        &:hover
        {
            text-decoration: none;
            background: darken($color-beta, 10%);
        }

        @media( min-width: $bp-small )
        {
            width: 45%;
            display: inline-block;
            //float: left;
        }

        @media( min-width: $bp-md )
        {
            width: 25%;
        }

    }

}

// Home
// ----------------------------------------------------

.home-main-content 
{
    text-align: center;
   
    section 
    {
        padding: 10em 0;
    }

    .what-we-offer
    {
        background-color: #ECF0F1;
        //background-image: url(../images/i_logo.png);
        background-repeat: no-repeat;
        background-position: -200px 100px;
    }

    .more
    {
        font-weight: bold;
        padding: 1em 0;
        display: block;
        &:hover
        {
            text-decoration: none;
        }
    }
}


// Internal
// ----------------------------------------------------
.hero-internal
{
    margin: 2em auto;

    h1
    {
        font-size: (34em/10)
    }

    .lede 
    {
        font-size: (15em/10)
    }

    @media (min-width: $bp-small)
    {
         .lede 
        {
            font-size: (20em/10)
        }
    }


}

.hero-innnovation
{
    .pre
    {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: (12em/10)
    }
    .internal-intro
    {
        margin-top: 0;
    }
    text-align: center;
    margin: 3em auto;
}

/*= Testimonials
------------------------------------------------------- */
.text-testimonials
{
    padding: 3em 0;
}

/*= Blog
------------------------------------------------------- */
.hfeed
{
    
}

.entry
{
    .meta
    {
        font-size: (8em/10);
        color: darken($color-beta, 20%);

        .sep
        {
             color: $color-beta;
        }
    }

    .featured-image {
        margin: 1em 0;
    }

    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid $color-beta; 
}

.widget
{
    padding-bottom: 2em;

    h3
    {
        font-size: (12em/10);
    }
}

.author{
    padding-bottom: 1em;
}

/*= Components
------------------------------------------------------- */

/*= Slider -------------------------------------- */
#wwo-slider
{
    margin: 1em 0;
}

.carousel-control
{
    color: $color-epsilon;
    @include transition(all .1s linear);

    &.right
    {
        background-image: none!important;
    }

    &.left
    {
        background-image: none!important;
    }

    &:hover
    {
        color: darken($color-epsilon, 10%)!important;
    }
}
.carousel-caption
{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    font-size: .85em;
}

/*= Quotes -------------------------------------- */

.quote-text
{
    background-color: #ECF0F1;
    border-left: none;
    font-size: 20px;
    font-style: italic;
    line-height: 27px;
    margin-bottom: 30px;
    padding: 26px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 darken(#ECF0F1, 20%);
    -moz-box-shadow: 0 3px 0 darken(#ECF0F1, 20%);
    box-shadow: 0 3px 0 darken(#ECF0F1, 20%);
    
    a {
        color: #3e5771;
        &:hover {
            color: lighten(#3e5771, 5%);
            text-decoration: none;
        }
    }

    &:before
    {
        border: solid 14px;
        border-color: #ECF0F1 transparent transparent transparent;
        bottom: -28px;
        left: 30px;
        z-index: 3;
    }

    &:after
    {
        border: solid 18px;
        border-color: darken(#ECF0F1, 20%) transparent transparent transparent;
        bottom: -36px;
        left: 26px;
        z-index: 2;
    }

    &:after, &:before
    {
        display: block;
        height: 0;
        width: 0;
        position: absolute;
    }
}

.testimonial
{
    text-align: left;
    margin: 1em 0;

    ul
    {
        font-size: (14rem/10);
        list-style-type: none;
        margin: 0;
        padding-left: .5em;

        .name
        {
             font-size: (16rem/10);
            font-weight: bold;
        }
        .position
        {
            font-style: italic;
        }

    }
}
/*= Mobile Slider -------------------------------------- */

#sidr{
    .mobile_nav_trigger{
        font-weight: bold;
        text-transform: uppercase;
    }
}

/*= Team Members -------------------------------------- */
.team-photo
{
    margin-bottom: 1em;
}
.members
{
    .member
    {
        margin: 1em auto;
    }

    .member-info
    {
        padding: 1em;
    }
}
.modal
{
    .modal-body
    {
        img
        {
            width: 100%;
            height: auto;
        }
    }

    figure
    {
        margin: 1em auto;
    }

}
/*= Categroy -------------------------------------- */
.category-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li
    {
        padding-bottom: .5em;
    }

    @media( min-width: $bp-small )
    {
        li
        {
            width: 50%;
            float: left;
        }
    }
}
/*= Services -------------------------------------- */
#services
{
    h2
    {

    }
}
.services-list
{
    margin: 0;
    margin-bottom: 3em;
    padding: 0;
    list-style-type: none;

    li 
    {
        border-bottom: 1px solid #ccc;
        padding: 1em .5em;
        width: 100%;
        &:nth-child(odd)
        {
            background: lighten(#ccc, 10%)
        }
    }

    @media( min-width: $bp-small )
    {
        li
        {
            //width: 45%;
            //margin: 1em 2.5%;
            //float: left;
        }
    }
    
}

.top 
{
    float: right;
}
/*= Contact -------------------------------------- */

.business-info
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    font-size: (9em/10);

    .name
    {
        font-size: (11em/10);
    }
}

aside
{
    .social
    {
        margin: 0;
        padding:0;
    }
}

form#contact-us
{
    padding-bottom: 3em;
}
